@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;800;900&display=swap");
@import url(../style/header.css);
@import url(../style/hero.css);
@import url(../style/intro.css);
@import url(../style/cards.css);
@import url(../style/form.css);
@import url(../style/footer.css);

:root {
  --white: #ffffff;
  --destaque: #c0b7e8;
  --roxoescuro: #343045;
  --fundo: #302c42;
  --transparencia: #c0b7e8;
  --gradientebotao: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  --gradientefundo: radial-gradient(
    50% 2900.76% at 50% 53.89%,
    rgba(58, 52, 86, 0.95) 0%,
    #211e2e 100%
  );
  --gradientetitulo: linear-gradient(91.57deg, #c0b7e8 -1.02%, #8176af 36.25%);
  --fonte: "Montserrat", sans-serif;
  --transitionAll: all 0.35s ease-in-out;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--fundo);
}

.container {
  margin: 0 auto;
  max-width: 1272px;
}
